.admin-container[b-6ysi9zm4tx] {
    width:100vw;
    display: flex;
    padding: 40px;
    gap:20px;
}
.sidebar[b-6ysi9zm4tx] {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}

.admin-content[b-6ysi9zm4tx] {
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    padding-top:20px;
    height:fit-content;
}
