.header[b-chcq31etud] {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: var(--color-primary);
    top: 0;
    z-index: 1000;
    position: sticky;
}

.container[b-chcq31etud] {
    display: flex;
    min-width: 100vw;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-divider);
    align-items: center;
    padding-right:40px;
}

.nav-container[b-chcq31etud] {
    min-width: 100vw;
    background: var(--color-primary);
    border-bottom: 1px solid var(--color-divider);
}

.logo[b-chcq31etud] {
    aspect-ratio: 1.4251781473;
    height: 70px;
    margin-top: 4px;
}

.body-container[b-chcq31etud] {
    max-width: 100vw;
}