.user-container[b-g9mfnyxre5] {
    width: 100vw;
    display: flex;
    padding: 40px;
    gap: 20px;
}

.sidebar[b-g9mfnyxre5] {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
}

.contenido-usuario[b-g9mfnyxre5] {
    flex: 1;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    padding-top: 20px;
}
