<nav class="nav">
    <NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink>
    <NavLink href="/category/ron">RON</NavLink>
    <NavLink href="/category/vodka">VODKA</NavLink>
    <NavLink href="/category/whisky">WHISKY</NavLink>
    <NavLink href="/category/gin">GIN</NavLink>
    <NavLink href="/category/pisco">PISCO</NavLink>
    <NavLink href="/category/vino">VINO</NavLink>
    <NavLink href="/category/licor">LICORES</NavLink>
    <a href="javascript:void(0)">RECETAS</a>
    <a href="javascript:void(0)">PACKS</a>
    <a href="javascript:void(0)">OFERTAS</a>
</nav>
