.product-card[b-24gdafgvea] {
    position: relative;
    background: white;
    border-radius: 12px;
    padding: 20px;
    min-height: 315px;
    box-shadow: 0 4px 18px rgba(0,0,0,.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heart-button[b-24gdafgvea] {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background: transparent;
    color: var(--color-primary);
    font-size: 24px;
    cursor: pointer;
}

.product-img-box[b-24gdafgvea] {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img[b-24gdafgvea] {
    max-height: 150px;
    max-width: 100%;
    object-fit: contain;
}

.product-card h3[b-24gdafgvea] {
    margin: 12px 0 4px;
    color: var(--color-primary);
    font-size: 16px;
}

.product-card p[b-24gdafgvea] {
    margin: 0;
    color: #4d5875;
    font-size: 14px;
}

.product-bottom[b-24gdafgvea] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

    .product-bottom span[b-24gdafgvea] {
        color: var(--color-primary);
        font-size: 16px;
        font-weight: 700;
    }

.cart-button[b-24gdafgvea] {
    width: 46px;
    height: 38px;
    border: none;
    border-radius: 8px;
    background: var(--color-primary);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
