@inject NavigationManager Navigation

<article class="product-card">

    <div class="product-img-box">
        <img src="@producto.ImagenUrl"
             class="product-img"
             style="cursor:pointer;"
             @onclick="IrADetalle" />
    </div>

    <h3>@producto.Nombre</h3>
    <p>@producto.Categoria</p>

    <div class="product-bottom">
        <span>S/ @producto.Precio.ToString("0.00")</span>

        <button class="cart-button" @onclick="AgregarCarrito">
            <i class="bi bi-cart"></i>
        </button>
    </div>

</article>

@code {

    [Parameter]
    public Producto producto { get; set; } = default!;

    private void IrADetalle()
    {
        Navigation.NavigateTo("/DescripcionProducto");
    }

    private void ToggleFavorito()
    {
        producto.Favorito = !producto.Favorito;
    }

    private void AgregarCarrito()
    {
        Console.WriteLine($"Agregado: {producto.Nombre}");
    }
}