.container[b-76u1aicvoe] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 60%;
    height: 35px;
    border-radius: 30px;
    position: relative;
    padding: 0 15px 0 15px;
    background: white;
    overflow: hidden;

    i {
        font-size: 18px;
    }
}


input[b-76u1aicvoe] {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
}
