.controls[b-83iyc7uwo3] {
    display: flex;
    gap: 32px;
}

.shopping-chart-container[b-83iyc7uwo3] {
    position: relative;
}

.shopping-chart[b-83iyc7uwo3] {
    color: white;
    font-size: 28px;
    position: relative;
}

.user-icon[b-83iyc7uwo3] {
    color: white;
    font-size: 28px;
}


.shopping-chart-value[b-83iyc7uwo3] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 0px;
    right: -10px;
    font-size: 12px;
    font-weight: 600;
}
