@page "/forgot-password"
@inject NavigationManager Navigation
<div class="container">
    <section>
        <div class="form-header">
            <i class="bi bi-key-fill logo"></i>
            <h1 class="title">
                RECUPERAR CONTRASEÑA
            </h1>
            <h3 class="sub-title">
                Introduzca el correo electrónico de su cuenta:
            </h3>
            <div class="hr" />
        </div>
        <form>
            <div class="form-input">
                <label for="email">Correo electrónico</label>
                <div class="input-container">
                    <i class="bi bi-envelope"></i>
                    <input id="email" placeholder="ejemplo@correo.com" type="email" />
                </div>
            </div>
            <form @onsubmit="EnviarCorreo">

                <!-- campos -->

                <button type="submit">
                    Enviar enlace
                </button>

            </form>
        </form>
        <div>
            <a href="/login" class="link">
                Volver al inicio de sesión
            </a>
        </div>
    </section>
</div>

@code {
    private async Task EnviarCorreo()
    {
        // Llamar Business Logic
        // Enviar correo

        Navigation.NavigateTo("/forgot-password-confirmation");
    }
}