@page "/reset-password"
<div class="container">
    <section>
        <div class="form-header">
            <i class="bi bi-shield-lock-fill logo"></i>
            <h1 class="title">
                NUEVA CONTRASEÑA
            </h1>
            <h3 class="sub-title">
                Introduzca y confirme su nueva contraseña.
            </h3>
            <div class="hr"></div>
        </div>
        <form>
            <div class="form-input">
                <label for="password">
                    Nueva contraseña
                </label>
                <div class="input-container">
                    <i class="bi bi-lock-fill"></i>
                    <input id="password"
                           type="@(hidePassword ? "password" : "text")"
                           placeholder="*************" />
                    <div @onclick="TogglePassword">
                        @if (hidePassword)
                        {
                            <i class="bi bi-eye-slash"></i>
                        }
                        else
                        {
                            <i class="bi bi-eye"></i>
                        }
                    </div>
                </div>
            </div>
            <div class="form-input">
                <label for="confirmPassword">
                    Confirmar contraseña
                </label>
                <div class="input-container">
                    <i class="bi bi-lock-fill"></i>
                    <input id="confirmPassword"
                           type="@(hideConfirmPassword ? "password" : "text")"
                           placeholder="*************" />
                    <div @onclick="ToggleConfirmPassword">
                        @if (hideConfirmPassword)
                        {
                            <i class="bi bi-eye-slash"></i>
                        }
                        else
                        {
                            <i class="bi bi-eye"></i>
                        }
                    </div>
                </div>
            </div>
            <button type="submit">
                Cambiar contraseña
            </button>
        </form>
        <div>
            <a href="/login" class="link">
                Volver al inicio de sesión
            </a>
        </div>
    </section>
</div>
@code {
    private bool hidePassword = true;
    private bool hideConfirmPassword = true;

    private void TogglePassword()
    {
        hidePassword = !hidePassword;
    }

    private void ToggleConfirmPassword()
    {
        hideConfirmPassword = !hideConfirmPassword;
    }
}