@page "/MisPedidos"
@layout UsuarioLayout

<h1 class="titulo">
    Mis pedidos
</h1>

<p class="subtitulo">
    Revisa el estado de tus pedidos y su historial.
</p>

<div class="tabs">
    <span class="tab-activo">
        Todos
    </span>
</div>

<div class="pedido-card">

    <div class="pedido-item">

        <div class="pedido-col">
            <h3>Pedido #12345</h3>
            <p>20 Mar. 2025 - 10:30 am</p>

            <a href="/detalle-pedido">
                Ver detalle
            </a>
        </div>

        <div class="pedido-col">
            <label>Total</label>

            <h3>S/ 189.90</h3>

            <p>Pagar con tarjeta</p>
        </div>

        <div class="pedido-col">
            <label>Estado</label>

            <span class="estado proceso">
                En proceso
            </span>
        </div>

        <div class="pedido-col">
            <label>Entrega estimada</label>

            <h3>22 Mar. 2025</h3>
        </div>

    </div>

    <div class="pedido-item">

        <div class="pedido-col">
            <h3>Pedido #12345</h3>

            <p>20 Mar. 2025 - 10:30 am</p>

            <a href="/detalle-pedido">
                Ver detalle
            </a>
        </div>

        <div class="pedido-col">
            <label>Total</label>

            <h3>S/ 189.90</h3>

            <p>Pagar con tarjeta</p>
        </div>

        <div class="pedido-col">
            <label>Estado</label>

            <span class="estado enviado">
                Enviado
            </span>
        </div>

        <div class="pedido-col">
            <label>Entrega estimada</label>

            <h3>19 - 20 Mar. 2025</h3>
        </div>

    </div>

    <div class="pedido-item">

        <div class="pedido-col">
            <h3>Pedido #12345</h3>

            <p>20 Mar. 2025 - 10:30 am</p>

            <a href="/detalle-pedido">
                Ver detalle
            </a>
        </div>

        <div class="pedido-col">
            <label>Total</label>

            <h3>S/ 189.90</h3>

            <p>Pagar con tarjeta</p>
        </div>

        <div class="pedido-col">
            <label>Estado</label>

            <span class="estado entregado">
                Entregado
            </span>
        </div>

        <div class="pedido-col">
            <label>Entrega estimada</label>

            <h3>17 Mar. 2025</h3>
        </div>

    </div>

    <p class="security-footer-text">
        <img src="assets/icons/escudo.png" alt="Seguro" class="footer-shield-icon-img" /> Tu información está segura con nosotros y no será compartida con terceros.
    </p>
</div>

