.titulo {
    text-align: center;
    color: #0b1f5c;
    margin-bottom: 10px;
}

.subtitulo {
    text-align: center;
    margin-bottom: 40px;
    color: gray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.boton-container {
    display: flex;
    justify-content: flex-end;
}

.guardar-btn {
    background-color: #0b1f5c;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

    .guardar-btn:hover {
        opacity: 0.9;
    }


/* --- Footer Informativo Seguro --- */
.security-footer-text {
    text-align: center;
    color: #6c757d;
    font-size: 0.8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-shield-icon-img {
    width: 16px;
    height: 16px;
    margin-right: 0.3rem;
}
