@page "/user/order-details"
@layout UserLayout

<div class="volver">
    <a href="/MisPedidos">
        Volver a mis pedidos
    </a>
</div>

<div class="pedido-card">
    <div class="pedido-header">
        <div>
            <h2>Pedido #12345</h2>
            <p class="fecha">
                20 Mar. 2025 - 10:30 am
            </p>
            <span class="estado">
                En proceso
            </span>
        </div>
    </div>

    <hr />

    <div class="pedido-info">

        <div>
            <label>Entrega estimada</label>
            <p>22 Mar. 2025</p>
        </div>

        <div>
            <label>Dirección de entrega</label>
            <p>Av. Universitaria 1801, San Miguel, Lima, Perú</p>
        </div>

        <div>
            <label>Pago</label>
            <p>Pagar con tarjeta</p>
        </div>

    </div>

    <hr />

    <h3>Productos (3)</h3>

    <table class="table">

        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    Johnnie Walker Black Label 750 ml
                    <div class="categoria">
                        Whisky
                    </div>
                </td>

                <td>2</td>

                <td>S/ 89.90</td>

                <td>S/ 179.80</td>
            </tr>

            <tr>
                <td>
                    Pisco Queirolo Acholado 700 ml

                    <div class="categoria">
                        Pisco
                    </div>
                </td>

                <td>1</td>

                <td>S/ 69.90</td>

                <td>S/ 69.90</td>
            </tr>

            <tr>
                <td>
                    Vino Trapiche Malbec 750 ml

                    <div class="categoria">
                        Vino
                    </div>
                </td>

                <td>1</td>

                <td>S/ 59.90</td>

                <td>S/ 59.90</td>
            </tr>

        </tbody>

    </table>

    <div class="total-box">

        <div class="fila-total">
            <span>Subtotal (3 productos)</span>
            <span>S/ 309.60</span>
        </div>

        <div class="fila-total">
            <span>Envío</span>
            <span>S/ 15.00</span>
        </div>
        <div class="fila-total final">
            <span>Total</span>
            <span>S/ 324.60</span>
        </div>

    </div>

</div>