@using Progra3_Frontend.Components.Shared.ui.SidebarNav
@layout MainLayout
@inherits LayoutComponentBase

<div class="admin-container">

    <div class="sidebar">
        <SidebarNav Items="items" />
    </div>

    <div class="admin-content">
        @Body
    </div>

</div>

@code {

    List<NavItem> items =
    [
        new()
        {
            Href="/admin",
            Icon="bi bi-box-seam",
            Text="Stock productos"
        },
        new()
        {
            Href="/admin/order-list",
            Icon="bi bi-box-seam",
            Text="Lista ordenes"
        },
        new()
        {
            Href="/admin/add-product",
            Icon="bi bi-plus-circle",
            Text="Agregar producto"
        },

        new()
        {
            Href="/admin/user-list",
            Icon="bi bi-people",
            Text="Usuarios"
        },

        new()
        {
            Href="/admin/add-user",
            Icon="bi bi-person-plus",
            Text="Agregar usuario"
        },


        new()
        {
            Href="/",
            Icon="bi bi-box-arrow-left",
            Text="Cerrar sesión",
            Class="cerrar"
        }
    ];
}