@using Progra3_Frontend.Components.Shared.MainLayout
@inherits LayoutComponentBase

<Contact />

<header class="header">
    <div class="container">
        <a href="/">
            <img src="./assets/logo.png" class="logo" />
        </a>
        <Search />
        <UserControls />
    </div>

</header>

<div class="nav-container">
    <Nav />
</div>

<section class="body-container">
    @Body
</section>
