@using Progra3_Frontend.Components.Shared.ui.SidebarNav
@layout MainLayout
@inherits LayoutComponentBase

<div class="user-container">

    <div class="sidebar">
        <SidebarNav Items="items" />
    </div>

    <div class="contenido-usuario">
        @Body
    </div>

</div>

@code {
    List<NavItem> items = [
            new (){Href="/user",Icon="bi-person",Text="Mi perfil" },
            new (){Href="/user/my-orders",Icon="bi-briefcase",Text="Mis pedidos" },
            new (){Href="/user/change-password",Icon="bi-lock",Text="Cambiar contraseña" },
            new (){Href="/",Icon="bi-box-arrow-left",Text="Cerrar sesión", Class="cerrar" },
    ];
}