.generic-btn[b-bhoap25dg4] {
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

    .generic-btn:hover[b-bhoap25dg4] {
        opacity: 0.9;
    }

    .generic-btn:disabled[b-bhoap25dg4] {
        opacity: 0.6;
        cursor: not-allowed;
    }

/* Variantes */
.primary[b-bhoap25dg4] {
    background-color: #0b1f5c;
    color: white;
}

.secondary[b-bhoap25dg4] {
    background-color: #e9ecef;
    color: #333;
}

.danger[b-bhoap25dg4] {
    background-color: #dc3545;
    color: white;
}
