.contact {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 14px;
    stroke-width: 2;
    background: white;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.icon {
    margin-top: 2px;
    font-size: 16px;
}
