<div class="contact">
    <div class="item">
        <i class="bi bi-envelope icon"></i>
        <span>CONSULTASCLIENTES@LICORERIA.ALLASI.COM</span>
    </div>
    <span>|</span>
    <div class="item">
        <i class="bi bi-telephone icon "></i>
        <span>(01) 123-4567</span>
    </div>
    <span>|</span>
    <div class="item">
        <i class="bi bi-geo-alt icon"></i>
        <span>AV.UNIVERSITARIA 1801, SAN MIGUEL, LIMA</span>
    </div>
</div>
