<div class="controls">
    <a href="/login">
        <i class="bi bi-person-circle user-icon"></i>
    </a>
    <div class="shopping-chart-container">
        <i class="bi bi-cart shopping-chart"></i>
        <di class="shopping-chart-value">0</di>
    </div>
</div>