.nav[b-zo0z2x7ssf] {
    width: 100vw;
    
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    background: var(--primary);
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: center;
    gap: 10px 50px;
    font-size: 15px;
}


[b-zo0z2x7ssf] a:hover,
    [b-zo0z2x7ssf] a.active {
        border-bottom: 2px solid white;
    }

    [b-zo0z2x7ssf] a:link,
    [b-zo0z2x7ssf] a:visited,
    [b-zo0z2x7ssf] a:hover,
    [b-zo0z2x7ssf] a:active {
        color: white;
        text-decoration: none;
    }



.layout[b-zo0z2x7ssf] {
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
}

.header-container[b-zo0z2x7ssf] {
    z-index: 1000;
    position: fixed;
}

.body-container[b-zo0z2x7ssf] {
    margin-top: 190px;
}
