.container[b-ocn0sqk8mz] {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section[b-ocn0sqk8mz] {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 40px;
}

.logo[b-ocn0sqk8mz] {
    font-size: 60px;
    color: var(--primary);
}

.title[b-ocn0sqk8mz] {
    font-size: 45px;
    font-weight: 800;
    color: var(--primary);
}

.sub-title[b-ocn0sqk8mz] {
    font-size: 22px;
    color: var(--primary);
}

.form-header[b-ocn0sqk8mz] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.hr[b-ocn0sqk8mz] {
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background: var(--primary);
}

.form-input[b-ocn0sqk8mz] {
    color: var(--primary);
    font-weight: 600;
}

.input-container[b-ocn0sqk8mz] {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(170,170,170);
    border-radius: 4px;
}

.input-container input[b-ocn0sqk8mz] {
    outline: none;
    border: none;
    width:100%;
}

.input-container i[b-ocn0sqk8mz] {
    font-size: 25px;
}

button[b-ocn0sqk8mz]{
    width:100%;
    height:50px;
    outline:none;
    border:none;
    border-radius:4px;
    background:var(--primary);
    color:white;
}
form[b-ocn0sqk8mz]{
    display:flex;
    flex-direction:column;
    gap:20px;
    width:28em;
}

.link[b-ocn0sqk8mz]{
    margin-top:-5px;
}
.link[b-ocn0sqk8mz] {
    color: var(--primary);
    font-weight:600;
}
.link:link[b-ocn0sqk8mz],
.link:visited[b-ocn0sqk8mz],
.link:hover[b-ocn0sqk8mz],
.link:active[b-ocn0sqk8mz] {
    color: color-mix(in srgb, var(--primary), #fff 20%)
}

.label[b-ocn0sqk8mz]{
    color:var(--primary);
    font-weight:600;
    margin-right:10px;
}